@inherits LayoutComponentBase
<div class="site-banner">
    <h1>UQ Degree Planner</h1>
</div>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
